<?xml version="1.0" encoding="utf-8"?>

    <!--- el androidmanifiest es un archivo de configuracion donde se aplicaran las configuraciones basicas de nuestra app,
    su configuracion podra realizarse a traves de una interfaz grafica. el androidmanifiest esta situado
    en la raiz de cada aplicacion -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juangabrielgomila.counter"> <!--- Se inicia el manifiesto -->

    <!--- aqui se inicia el contenido de la aplicacion -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!---  Se Crean los componentes Iniciales dentro de la etiqueta -->

        <!--- se declaran todas las actividades de la app -->
        <activity android:name=".MainActivity">

            <intent-filter> <!--- Agrega un nombre de categoría a un filtro de intención.  -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> <!--- describen ciertas propiedades especiales de una actividad.-->
            </intent-filter> <!--- Se termina el intento  -->
        </activity> <!---  Se termina la actividad -->
    </application> <!---  Se Termina el contenido de la aplicacion -->

</manifest> <!--- Se termina el archivo manifiesto-->